<configuration>
    <!--default config-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <!--config to our created file-->
    <appender name="File" class="ch.qos.logback.core.FileAppender">
        <file>/home/janani/Downloads/Spring-Backend/app.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="File" />
    </root>
    <!--RUN THIS CODE THEN LOG WILL BE PRINTED IN OUR CREATED FILE WHERE ABOVE ABSOLUTE PATH MENTIONED-->
</configuration>